<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parrafo</title>
</head>
<body>
<h1>Titulo1</h1>
<h2>Titulo2</h2>
<h3>Titulo3</h3>
<h4>Titulo4</h4>
<h5>Titulo5</h5>
<h6>Titulo6</h6>
<p>Quiere que ponga parrafo 1</p> // buscar parrafo:@GetMapping("")  public String muestraPaginaInicio(){  return "index";
<p>Quiere que ponga parrafo 2</p>

<ol> type="1" start = "5"> //etiqueta de inicio + atributo, el valor esta entre ""
  <li>Modelo</li>
  <li>Controlador</li>
  <li>Vista</li>
</ol> //etiqueta de fin


<ul>
  <li>Primavera</li>
  <li>Verano</li>
  <li>Otoño</li>
  <li>Invierno</li>
</ul>
<

</body>
</html>